<div>
    <main>
        <section class="row">

            {{!-- ===================== --}}

            {{#with navigation}}
            <div class="card">
                <ul class="nav">
                    <li class="nav-item col-5">
                        <p class="nav-link disabled">Shop</p>
                    </li>

                    {{#each links}}

                    <li class="nav-item">
                        <a href={{href}} class="nav-link">{{text}}</a>
                    </li>
                    {{/each}}
                    <li class="nav-item">
                        <a href="#" class="nav-link  disabled">Disabled</a>
                    </li>
                </ul>

            </div>
            {{/with}}

            {{!-- ===================== --}}

            {{#with newsBlock}}
            <h4 class="text-center">{{title}}</h4>
            {{#each cards}}
            <div class="col-3 g-2">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        <p class="card-title">{{title}}</p>
                        {{#if isNew}}
                        <p class="btn btn-sm btn-success rounded-pill">New</p>
                        {{/if}}
                        {{#if isTop}}
                        <p class="btn btn-sm btn-danger rounded-pill">Top</p>
                        {{/if}}
                    </div>

                    <div class="card-body">

                        {{description}}
                        {{isTop}}

                    </div>

                </div>
            </div>
            {{/each}}
            {{/with}}

            {{!-- ===================== --}}

            {{#with goodsBlock}}

            <div class="nav nav-tabs">
                {{#each tabs}}
                <div class="nav-item">
                    {{#if isActive}}
                    <a href="#" class="nav-link active">{{text}}</a>
                    {{else}}
                    {{#if isDisabled}}
                    <a href="#" class="nav-link disabled">{{text}}</a>
                    {{else}}
                    <a href="#" class="nav-link">{{text}}</a>
                    {{/if}}
                    {{/if}}
                </div>
                {{/each}}
            </div>

            {{#each cards}}
            <div class="col-4">
                <div class="card">
                    <img src={{image}} class="card-img-top">
                    <div class="card-title">
                        <p class="text-capitalize">{{title}} </p>
                        {{#if isHot}}
                        <p class="btn btn-primary btn-sm rounded-pill text-uppercase">hot!</p>
                        {{/if}}
                        {{#if isNew}}
                        <p class="btn btn-danger  btn-sm rounded-pill">New</p>
                        {{/if}}
                    </div>

                    <div class="card-body">
                        <p>{{description}}</p>
                    </div>

                </div>
            </div>
            {{/each}}


            {{/with}}
            {{!-- ===================== --}}
            {{#with subscribe}}
            <div class="card text-bg-dark">

                <h2>{{header}}</h2>
                <div class="card-body">
                    <p>{{description}}</p>
                    {{#each buttons}}

                    <a class="btn btn-primary" href={{link}}>{{text}}</a>

                    {{/each}}
                </div>
            </div>
            {{/with}}

            {{!-- ===================== --}}

            {{#with service}}
            <div class="card text-bg-success text-center">

                <h4>{{title}}</h4>
                <div class="card-body">
                    <p>{{description}}</p>
                    {{#each buttons}}

                    <a class="btn btn-primary" href={{link}}>{{text}}</a>

                    {{/each}}
                </div>
            </div>
            {{/with}}

            {{!-- ===================== --}}

            {{#each footer}}
            <div class="nav col-2 g-5">
                {{!-- {{log 'LOG ' this}} --}}
                {{#each this}}
                <li class="nav-item">
                    <a href={{this.link}}>{{this.text}}</a><br>
                </li>
                {{/each}}
                <li class="nav-item">
                    <a href="#" class="nav-link  disabled">Disabled</a>
                </li>
            </div>
            {{/each}}

            {{!-- ===================== --}}

        </section>
    </main>
</div>