<div>

    <main>
        {{> title big=true data=name}}
        {{> line }}


        <section>
            <div>


                <div class="card">
                    <div class="card-body">
                        {{#with heading}}

                        <div class="card">
                            <div class="card-body">
                                <h1>Heading</h1>
                                {{> task22 text=main }}
                                <br>
                                <p><button type="button" class="btn btn-primary">Primary</button></p>
                                <p><button type="button" class="btn btn-outline-info">Outline Primary</button></p>
                            </div>

                        </div>
                        <br>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h2>Heading second</h2>
                                {{> task22 text=second }}
                                <br>
                                <p><button type="button" class="btn btn-secondary">Secondary</button></p>
                                <p><button type="button" class="btn btn-outline-secondary">Outline Secondary</button>
                                </p>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h3>Heading ssubblock</h3>
                                {{> task22 text=subblock }}
                                <br>
                                <p><button type="button" class="btn btn-dark">Dark</button></p>
                                <p><button type="button" class="btn btn-outline-dark">Dark</button></p>
                            </div>
                        </div>


                        {{/with}}

                    </div>
                </div>
            </div>

            <br>
            <br>
            <div>
                <div class="card">
                    <div class="card-body">

                        <p class="display-1">Nested</p>
                        {{> task22 text=nested_display }}
                        <div class="card">
                            <div class="card-body">
                                <ul>
                                    {{#with nested_display}}
                                    <p class="display-4">children_display</h4>
                                        <li>
                                            {{> task22 text=children_display }}

                                        </li>
                                    <p><button type="button" class="btn btn-outline-warning">Warning</button></p>
                                    {{/with}}
                                </ul>
                                <p>
                                <h6>Heading</h6>
                                </p>
                                <p><button type="button" class="btn btn-primary">Info</button></p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <br>
            <div>

                <div class="card">
                    <div class="card-body">

                        <p class="text-uppercase">paragraph</p>

                        {{#with paragraph}}
                        <p>Title: {{title}}</p>
                        <p>Text: {{text}}</p>

                        <div>
                            {{#with button}}
                            <p><button type="button" class="btn btn-link" href={{url}}>{{text}}</button></p>
                            {{/with}}
                        </div>

                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <ul>
                                        {{#each list_name}}
                                        <li>
                                            <p><button type="button" class="btn btn-link" href={{url}}>{{text}}</button>
                                            </p>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>

            </div>

        </section>
    </main>

</div>