<div>

    <main>
        {{> title big=true data=name}}
        {{> line }}

        <section>
            <div>

                <div class="card">
                    <div class="card-body">
                        {{#with heading}}
                        {{#with main}}
                        <div class="card">
                            <div class="card-body">
                                <h1>{{title}}</h1>
                                <p>{{text}}</p>
                                <br>
                                {{#with button_text}}
                                <p><button type="button" class="btn btn-primary">{{solid}}</button></p>
                                <p><button type="button" class="btn btn-outline-info">{{outline}}</button></p>
                                {{/with}}
                                {{!-- {{> task21 text=main }} --}}
                            </div>

                        </div>
                        {{/with}}
                        <br>

                        {{#with second}}
                        <div class="card">
                            <div class="card-body">
                                <h2>{{title}}</h2>
                                <p>{{text}}</p>
                                {{!-- {{> task21 text=second }} --}}
                                <br>
                                {{#with button_text}}
                                <p><button type="button" class="btn btn-secondary">{{solid}}</button></p>
                                <p><button type="button" class="btn btn-outline-secondary">{{outline}}</button>
                                </p>
                                {{/with}}
                            </div>
                        </div>
                        {{/with}}
                        <br>

                        {{#with subblock}}
                        <div class="card">
                            <div class="card-body">
                                <h3>{{title}}</h3>
                                <p>{{text}}</p>
                                {{!-- {{> task21 text=subblock }} --}}
                                <br>
                                {{#with button_text}}
                                <p><button type="button" class="btn btn-dark">{{solid}}</button></p>
                                <p><button type="button" class="btn btn-outline-dark">{{outline}}</button></p>
                                {{/with}}
                            </div>
                        </div>

                        {{/with}}
                        {{/with}}

                    </div>
                </div>
            </div>
            {{!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --}}
            <br>
            <br>
            <div>
                <div class="card">
                    <div class="card-body">

                        {{#with nested_display}}
                        <p class="display-1">{{title}}</p>

                        {{!-- {{> task21 text=nested_display }} --}}

                        <div class="card">
                            <div class="card-body">
                                {{#with children_display}}
                                <p class="display-4">{{title}}</h4>
                                <p>{{text}}</p>

                                {{!-- {{> task21 text=children_display }} --}}
                                {{#with button}}
                                <p><button type="button" class="btn btn-outline-warning">{{text}}</button></p>
                                {{/with}}
                                {{/with}}
                            </div>
                        </div>
                        <p>
                        <h6>{{header_text}}</h6>
                        </p>
                        {{#with button}}
                        <p><button type="button" class="btn btn-primary">{{text}}</button></p>

                        {{/with}}

                        {{/with}}

                    </div>
                </div>

            </div>
            <br>
            <br>
            <div>

                <div class="card">
                    <div class="card-body">
                        {{#with paragraph}}
                        <p class="text-uppercase">{{title}}</p>


                        <p class="text-lowercase">{{text}}</p>
                        {{!-- <p> {{text}}</p> --}}

                        {{#with button}}
                        <p><button type=" button" class="btn btn-link" href={{url}}>{{text}}</button></p>
                        {{/with}}

                        <br>
                        <div class="card">
                            <div class="card-body">
                                <ul>
                                    {{#each list_name}}
                                    <li>
                                        <p><button type="button" class="btn btn-link" href={{url}}>{{text}}</button>
                                        </p>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <br>
                        {{/with}}
                    </div>
                </div>

            </div>

        </section>
    </main>

</div>