<div class="row">
{{#each goodsList}}
  <div class='col-6'>

    <div class='card mb-5'>
      <img src={{img}} class='card-img-top' />
      <div class='card-body'>
        <div class="mb-2">
          {{#if isHot}}
            <button
              class='badge rounded-pill text-bg-danger'
            >HOT!</button>
          {{/if}}
          {{#if isNew}}
            <button
              class='badge rounded-pill text-bg-primary'
            >Нове</button>
          {{/if}}
        </div>
        <div class="mb-2"> 
          {{#if isFast}}
            <button class='badge text-bg-success mb-2'>Швидка
              доставка</button>
          {{/if}}
          <br>
          {{#if isFree}}
            <button
              class='badge text-bg-secondary'
            >Безкоштовна доставка</button>
          {{/if}}
        </div>
        <h3>{{name}}</h3>
        <div class="m-2">
            {{#with review}}
            <span>{{amount}} {{text}}</span>
            {{/with}}
            <br>
            <b>{{price}}</b>
            <p>{{delivery}}</p>
        </div>
        <div>
          {{#each buttons}}
            {{#if isPrimary}}
              <button
                href={{link}}
                class='btn btn-primary'
              >{{text}}</button>
            {{/if}}
            <br>
            {{#if isSecondary}}
              <button
                href={{link}}
                class='btn btn-secondary mb-2'
              >{{text}}</button>
            {{/if}}
          {{/each}}

        </div>

        <ul>
          {{#each characteristics}}
            <li class="m-2">{{title}}: {{value}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
{{/each}}
</div>