<p>{{ id }}, {{ name }},

  {{#if gender includeZero=false }}
  {{ gender }},
  {{/if}}

  {{#if age includeZero=false }}
  {{ age }},
  {{/if}}

  {{#if description includeZero=false }}
  {{ description }},
  {{/if}}
</p>