<div>

    {{#with text}}

    <br>
    <p>title: {{title}}</p>

    {{#if text includeZero=false}}
    <p>text: {{text}}</p>
    {{/if}}

    {{#if header_text includeZero=false}}
    <p>header_text: {{header_text}}</p>
    {{/if}}


    {{#if button_text includeZero=false}}

    <ul>
        {{#with button_text}}
        <li>
            <div>
                <p>solid: {{solid}}</p>
                <p>outline: {{outline}}</p>
            </div>
        </li>
        {{/with}}
    </ul>
    {{/if}}

    {{#if button includeZero=false}}

    <ul>
        {{#with button}}
        <li>
            <div>
                <p>buttontext: {{text}}</p>
                {{#if url includeZero=false }}
                <p>buttonurl: {{url}}</p>
                {{/if}}
            </div>
        </li>
        {{/with}}
    </ul>
    {{/if}}

    {{#if list_name includeZero=false}}

    <ul>
        {{#each list_name}}
        <li>
            <div>
                <p>list_nametext: {{text}}</p>
                {{#if url includeZero=false }}
                <p>list_nameurl: {{url}}</p>
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ul>
    {{/if}}

    <br>



    {{/with}}

</div>