{{#if big}}
{{!-- {{log "LOG2: " this }} --}}
{{!-- {{#with data }} --}}
{{!-- {{log "LOG1: " this }} --}}
<section>
  <div>
    <h2>{{data}}</h2>
  </div>
</section>
{{!-- {{/with}} --}}
{{else}}
{{!-- {{#with data }} --}}
{{!-- {{log "LOG1: " this }} --}}
<section>
  <div>
    <h3>{{data}}</h3>
  </div>

</section>
{{!-- {{/with}} --}}
{{/if}}